@font-face {
  font-family: pokemon;
  src: url(../../public/PokemonGb-RAeo.ttf);
}

@media only screen and (max-width: 480px) {
  .namecard-container {
    height: 7rem;
    width: 11rem;
    display: grid;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.7)
  }
  .pokemon-image {
    width: 5rem;
    position: absolute;
    justify-self: end;
    padding-top: 1.7rem;
    margin-right: 0.5rem;
  }
  .namecard-information {
    display: flex;
    flex-direction: column;

  }
  .namecard-name {
    line-height: 1;
    /* font-family: pokemon; */
    z-index: 6;
    text-align: center;
    margin-top: 0.7rem;
    text-wrap: balance;
  }
  .type-container {
    margin-top: 4rem;
    margin-left: 1rem;
    line-height: 0;
    font-size: 0.8rem;
    display: flex;
    gap: 0.2rem;
    position: absolute;
  }
  .grass {
    background-color: #77dd77;
  }
  .fire {
    background-color: #FAA0A0;
  }
  .water {
    background-color: #95bce7;
  }
  .bug{
    background-color: #789860;
  }
  .dark{
    background-color: #1c1c1c;
  }
  .dragon{
    background-color: #6C8DFA;
  }
  .electric{
    background-color: #FDFD95;
  }
  .fairy{
    background-color: #FFD1DC;
  }
  .fighting{
    background-color: #e06969;
  }
  .flying{
    background-color: #e8e8e8;
  }
  .ghost{
    background-color: #595f8d;
  }
  .ground{
    background-color: #FF964F;
  }
  .ice{
    background-color: #E7FFFF;
  }
  .normal{
    background-color: #DDDDD2;
  }
  .poison{
    background-color: #B19CD9;
  }
  .psychic{
    background-color: #FFB3C6;
  }
  .rock{
    background-color: #D1C3B7;
  }
  .steel{

  }
}