.nav{
    display: flex;
    justify-content: space-around;
    height: 5rem;
}

.nav a{
    text-decoration: none;
    color: #afb0b3;
}

.nav a:hover{
    color: #191a1e;
}

.true{
    color: #191a1e;
    height: 1.5rem;
    border-bottom: solid 1px #191a1e;
}

.nav-element{
    display:grid;
    height: 4rem;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    color: #afb0b3;
}