@media only screen and (max-width: 480px) {
  .pokemon-container {
    /* background-color: aliceblue; */
    width: 100%;
    height: auto;
    display: grid;
    grid-template-rows: 5rem 4rem auto;
    grid-gap: 1rem;
  }
  .title {
    grid-row-start: 1;
  }
  .searchbar {
    grid-row-start: 2;
    border-radius: 50px;
    height: 2.5rem;
    border: solid 1px rgb(206, 202, 202);
    margin-left: 1rem;
    margin-right: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 600;
    background-color: #2e2e2e;
    color: white;
  }
  .pokemon-name-container {
    grid-row-start: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 1rem;
  }



}